#sedanCar,#hatchbackCar,#suvCar{
	border: 1px solid #e1e1e8;
    border-radius: 4px;
	margin-right:20px;
	margin-left:20px;
	background-color:#FFF;
	-webkit-box-shadow: -3px 2px 7px 3px rgba(0,0,0,0.26);
	-moz-box-shadow: -3px 2px 7px 3px rgba(0,0,0,0.26);
	box-shadow: -3px 2px 7px 3px rgba(0,0,0,0.26);
}
/* body{
	background-image: linear-gradient(to bottom, #C9DAB6 0px, #9FC57C 100%);
} */
#line{
	border-color: #B2B2B2;
    margin-left: 100px;
    margin-right: 100px;
}
#sedanImg{
	height:70px;
	width:180px;
	margin-top:20px;
	margin-bottom:20px;
}
#yearList{
	padding-bottom:40px;
	margin-left:40px;
	margin-top:30px;
}
.carCount{
	text-align:center;
	margin-bottom:10px;
}
.catDesc{
	text-align:center;
	margin-top:10px;
}
#sedanList,#hatchbackList,#suvList{
	margin-bottom:20px;
}
#logo{
	height:10px;
	width:40px;
}
.navbar-brand i{
	color:#ED9C28;
}
.navbar-brand{
	font-size:25px;
}
#table_id_wrapper{
	padding-top:20px;
}
.navbar-default {
    background-image: linear-gradient(to bottom, #B5C83B 0px, #798E05 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
body{
	background-color:#F5F5F5;
	background-image:url("../img/body-bg.png");
}
#table_id,#searchTable{
	border:2px solid #000;
	border-radius:3px;
}
#table_id thead,#searchTable thead{
	background-color:#D2D2D2;
}
#footer1{
	margin-top:50px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
    background-image: linear-gradient(to bottom, #95A331 0px, #596801 100%);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #FFF;
}
#inputDiv{
	padding-right:0px;
}
#btnDiv{
	padding-left:0px;
}
#searchData{
	border:1px solid #ededed;
	margin-top:40px;
	border-radius:4px;
	background-color:#FFFFFF;
	-webkit-box-shadow: -3px 2px 7px 3px rgba(0,0,0,0.26);
	-moz-box-shadow: -3px 2px 7px 3px rgba(0,0,0,0.26);
	box-shadow: -3px 2px 7px 3px rgba(0,0,0,0.26);
}
.freeSearch{
	float:center;
}
.freeSearchForm{
	margin-top:15px;
}
#categoryData{
	padding-left:70px;
}