<div ng-init="getBusinessUnits()">

    <div class="row">
        <div class="col-lg-4"><strong>Select Business Unit :</strong></div>
        <div class="col-lg-4">
            <select class="form-control" ng-change="initInventoryController()" ng-options="businessUnit as businessUnit.name for businessUnit in businessUnits track by businessUnit.id" ng-model="selectedBusinessUnit">
                <option value="">Business Unit</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>Select table or add:</label>
        <ui-select ng-model="inventory.selectedCar" on-select="showCarDetails($item)">
            <ui-select-match placeholder="Select A Car">
                <span>{{inventory.selectedCar.carDetails}}</span>
            </ui-select-match>
            <ui-select-choices repeat="car in (carList | filter:  $select.search) track by car.id">
                <span>{{car.carDetails}}</span>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="row customer" style="margin-top: 5px;">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <strong>Registration :</strong>
                    <input type="text" class="form-control" uppercased
                           ng-model="inventory.vehicle.registration">
                </div>
                <div class="col-lg-12">
                    <strong>Make :</strong>
                    <input type="text" class="form-control" uppercased
                           ng-model="inventory.vehicle.make">
                </div>
                <div class="col-lg-12">
                    <strong>Model :</strong>
                    <input type="text" class="form-control" uppercased
                           ng-model="inventory.vehicle.model">
                </div>
                <div class="col-lg-12">
                    <strong>Vin :</strong>
                    <input type="text" class="form-control" uppercased
                           ng-model="inventory.vehicle.vin">
                </div>
                <div class="col-lg-12">
                    <strong>Last Service Date :</strong>
                    <span class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               is-open="lastServiceDate.opened"
                               ng-model="inventory.vehicle.lastServiceDate">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="lastServiceDate.open()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </span>
                </div>
                <div class="col-lg-12">
                    <strong>Service Interval Days :</strong>
                    <input type="text" class="form-control"
                           ng-model="inventory.vehicle.serviceIntervalDays">
                </div>
                <div class="col-lg-12">
                    <strong>Color :</strong>
                    <input type="text" class="form-control" uppercased
                           ng-model="inventory.vehicle.color">
                </div>
                <div class="col-lg-12">
                    <strong>Type :</strong>
                    <select class="form-control" ng-options="vehicleType for vehicleType in vehicleTypes" uppercased ng-model="inventory.vehicle.type">
                        <option value="">Vehicle Type</option>
                    </select>
                </div>
                <div class="col-lg-12">
                    <strong>Title :</strong>
                    <select class="form-control" uppercased ng-options="vehicleTitle for vehicleTitle in vehicleTitles" ng-model="inventory.vehicle.title">
                        <option value="">Vehicle Title</option>
                    </select>
                </div>

                <div class="col-lg-12">
                    <strong>DispenseDate :</strong>
                    <span class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               is-open="dispenseDate.opened"
                               ng-model="inventory.vehicle.dispenseDate">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="dispenseDate.open()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </span>
                </div>
                <div class="col-lg-12">
                    <strong>Sold Price :</strong>
                    <input type="text" class="form-control"
                           ng-model="inventory.vehicle.soldPrice">
                </div>
                <div class="col-lg-12">
                    <strong>Cost Price :</strong>
                    <input type="text" class="form-control"
                           ng-model="inventory.vehicle.costPrice">
                </div>
                <div class="col-lg-12">
                    <strong>Business Unit :</strong> <select class="form-control" ng-options="businessUnit as businessUnit.name for businessUnit in businessUnits track by businessUnit.id" ng-model="inventory.vehicle.businessUnit">
                    <option value="">Business Unit</option>
                </select>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <strong>Year :</strong>
                    <input type="text" class="form-control" ng-model="inventory.vehicle.year">
                </div>
                <div class="col-lg-12">
                    <strong>Category :</strong>
                    <select class="form-control" ng-options="vehicleCategory for vehicleCategory in vehicleCategories" ng-model="inventory.vehicle.category">
                        <option value="">Vehicle Category</option>
                    </select>
                </div>
                <div class="col-lg-12">
                    <strong>Tank Capacity :</strong>
                    <input type="text" class="form-control" uppercased
                           ng-model="inventory.vehicle.tankCapacity">
                </div>
                <div class="col-lg-12">
                    <strong>Next Inspection Date :</strong>
                    <span class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               is-open="nextInspectionDate.opened" datepicker-options="nextInspectionDate"
                               ng-model="inventory.vehicle.nextInspectionDate">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="nextInspectionDate.open()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </span>
                </div>
                <div class="col-lg-12">
                    <strong>Road Tax ExpiryDate :</strong>
                    <span class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               is-open="roadTaxExpiryDate.opened" datepicker-options="roadTaxExpiryDate"
                               ng-model="inventory.vehicle.roadTaxExpiryDate">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="roadTaxExpiryDate.open()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </span>
                </div>

                <div class="col-lg-12">
                    <strong>Insurance ExpiryDate :</strong>
                    <span class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               is-open="insuranceExpiryDate.opened" datepicker-options="insuranceExpiryDate"
                               ng-model="inventory.vehicle.insuranceExpiryDate">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="insuranceExpiryDate.open()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </span>
                </div>
                <div class="col-lg-12">
                    <strong>PurchaseDate :</strong>
                    <span class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               is-open="purchaseDate.opened"
                               ng-model="inventory.vehicle.purchaseDate">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="purchaseDate.open()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </span>
                </div>
                <div class="col-lg-12">
                    <strong>Status :</strong>
                    <select class="form-control" ng-options="vehicleStatus for vehicleStatus in vehicleStatuses" ng-model="inventory.vehicle.status">
                        <option value="">Vehicle Status</option>
                    </select>
                </div>

                <div class="col-lg-12">
                    <strong>Physical Insurance Status :</strong>
                    <select class="form-control" ng-options="insuranceMode for insuranceMode in insuranceModes" ng-model="inventory.vehicle.physicalInsuranceStatus">
                        <option value="">Physical Insurance Status</option>
                    </select>
                </div>

                <div class="col-lg-12">
                    <strong>Liability Insurance Status :</strong>
                    <select class="form-control" ng-options="insuranceMode for insuranceMode in insuranceModes" ng-model="inventory.vehicle.liabilityInsuranceStatus">
                        <option value="">Liability Insurance Status</option>
                    </select>
                </div>
                <div class="col-lg-12">
                    <strong>DriveMode :</strong>
                    <select class="form-control" ng-options="driveMode for driveMode in driveModes" ng-model="inventory.vehicle.driveMode">
                        <option value="">Drive Mode</option>
                    </select>
                </div>
                <div class="col-lg-12">
                    <strong>Dispense Reason :</strong>
                    <input type="text" class="form-control" uppercased
                           ng-model="inventory.vehicle.dispenseReason">
                </div>
                <div class="col-lg-12">
                    <strong>Per Day Rent :</strong>
                    <input type="text" class="form-control"
                           ng-model="inventory.vehicle.perDayRent">
                </div>
                <div class="col-lg-12">
                    <button class="btn btn-primary" ng-click="addOrUpdateVehicle()">Add/Update</button>
                </div>
            </div>
        </div>
    </div>
</div>