<div ng-init="getBusinessUnits()">

    <div class="row">
        <div class="col-lg-4">Select Business Unit :</div>
        <div class="col-lg-4">
            <select class="form-control" ng-change="initInventoryController()" ng-options="businessUnit as businessUnit.name for businessUnit in businessUnits track by businessUnit.id" ng-model="selectedBusinessUnit">
                <option value="">Business Unit</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>Select table or add:</label>
        <ui-select ng-model="inventory.selectedCar" on-select="showCarDetails($item)">
            <ui-select-match placeholder="Select A Car">
                <span>{{inventory.selectedCar.carDetails}}</span>
            </ui-select-match>
            <ui-select-choices repeat="car in (carList | filter:  $select.search) track by car.id">
                <span>{{car.carDetails}}</span>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="row customer" style="margin-top: 5px;">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    Registration :
                    <input type="text" class="form-control"
                           ng-model="inventory.vehicle.registration">
                </div>
                <div class="col-lg-12">
                    Make :
                    <input type="text" class="form-control"
                           ng-model="inventory.vehicle.make">
                </div>
                <div class="col-lg-12">
                    Model :
                    <input type="text" class="form-control"
                           ng-model="inventory.vehicle.model">
                </div>
                <div class="col-lg-12">
                    Vin :
                    <input type="text" class="form-control"
                           ng-model="inventory.vehicle.vin">
                </div>
                <div class="col-lg-12">
                    Last Service Date :
                    <span class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               is-open="lastServiceDate.opened"
                               ng-model="inventory.vehicle.lastServiceDate">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="lastServiceDate.open()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </span>
                </div>
                <div class="col-lg-12">
                    Service Interval Days :
                    <input type="text" class="form-control"
                           ng-model="inventory.vehicle.serviceIntervalDays">
                </div>
                <div class="col-lg-12">
                    Color :
                    <input type="text" class="form-control"
                           ng-model="inventory.vehicle.color">
                </div>
                <div class="col-lg-12">
                    Type :
                    <select class="form-control" ng-options="vehicleType for vehicleType in vehicleTypes" ng-model="inventory.vehicle.type">
                        <option value="">Vehicle Type</option>
                    </select>
                </div>
                <div class="col-lg-12">
                    Title :
                    <select class="form-control" ng-options="vehicleTitle for vehicleTitle in vehicleTitles" ng-model="inventory.vehicle.title">
                        <option value="">Vehicle Title</option>
                    </select>
                </div>

                <div class="col-lg-12">
                    DispenseDate :
                    <span class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               is-open="dispenseDate.opened"
                               ng-model="inventory.vehicle.dispenseDate">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="dispenseDate.open()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </span>
                </div>
                <div class="col-lg-12">
                    Sold Price :
                    <input type="text" class="form-control"
                           ng-model="inventory.vehicle.soldPrice">
                </div>
                <div class="col-lg-12">
                    Cost Price :
                    <input type="text" class="form-control"
                           ng-model="inventory.vehicle.costPrice">
                </div>
                <div class="col-lg-12">
                    Business Unit : <select class="form-control" ng-options="businessUnit as businessUnit.name for businessUnit in businessUnits track by businessUnit.id" ng-model="inventory.vehicle.businessUnit">
                    <option value="">Business Unit</option>
                </select>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    Category :
                    <select class="form-control" ng-options="vehicleCategory for vehicleCategory in vehicleCategories" ng-model="inventory.vehicle.category">
                        <option value="">Vehicle Category</option>
                    </select>
                </div>
                <div class="col-lg-12">
                    Tank Capacity :
                    <input type="text" class="form-control"
                           ng-model="inventory.vehicle.tankCapacity">
                </div>
                <div class="col-lg-12">
                    Next Inspection Date :
                    <span class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               is-open="nextInspectionDate.opened"
                               ng-model="inventory.vehicle.nextInspectionDate">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="nextInspectionDate.open()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </span>
                </div>
                <div class="col-lg-12">
                    Road Tax ExpiryDate :
                    <span class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               is-open="roadTaxExpiryDate.opened"
                               ng-model="inventory.vehicle.roadTaxExpiryDate">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="roadTaxExpiryDate.open()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </span>
                </div>

                <div class="col-lg-12">
                    Insurance ExpiryDate :
                    <span class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               is-open="insuranceExpiryDate.opened"
                               ng-model="inventory.vehicle.insuranceExpiryDate">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="insuranceExpiryDate.open()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </span>
                </div>
                <div class="col-lg-12">
                    PurchaseDate :
                    <span class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               is-open="purchaseDate.opened"
                               ng-model="inventory.vehicle.purchaseDate">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="purchaseDate.open()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </span>
                </div>
                <div class="col-lg-12">
                    Status
                    <select class="form-control" ng-options="vehicleStatus for vehicleStatus in vehicleStatuses" ng-model="inventory.vehicle.status">
                        <option value="">Vehicle Status</option>
                    </select>
                </div>

                <div class="col-lg-12">
                    Physical Insurance Status :
                    <select class="form-control" ng-options="insuranceMode for insuranceMode in insuranceModes" ng-model="inventory.vehicle.physicalInsuranceStatus">
                        <option value="">Physical Insurance Status</option>
                    </select>
                </div>

                <div class="col-lg-12">
                    Liability Insurance Status :
                    <select class="form-control" ng-options="insuranceMode for insuranceMode in insuranceModes" ng-model="inventory.vehicle.liabilityInsuranceStatus">
                        <option value="">Liability Insurance Status</option>
                    </select>
                </div>
                <div class="col-lg-12">
                    DriveMode :
                    <select class="form-control" ng-options="driveMode for driveMode in driveModes" ng-model="inventory.vehicle.driveMode">
                        <option value="">Drive Mode</option>
                    </select>
                </div>
                <div class="col-lg-12">
                    Dispense Reason :
                    <input type="text" class="form-control"
                           ng-model="inventory.vehicle.dispenseReason">
                </div>
                <div class="col-lg-12">
                    Per Day Rent :
                    <input type="text" class="form-control"
                           ng-model="inventory.vehicle.perDayRent">
                </div>
                <div class="col-lg-12">
                    <button class="btn btn-primary" ng-click="addOrUpdateVehicle()">Add/Update</button>
                </div>
            </div>
        </div>

    </div>
</div>