<div class="container" ng-init="initRentalController()">

    <div ng-init="isExistingRental=false">
        <label>
            <input type="radio" ng-model="isExistingRental" ng-value="true">
            Existing Rental
        </label>
        <label>
            <input type="radio" ng-model="isExistingRental" ng-value="false">
            New Rental
        </label>
        <div ng-if="isExistingRental" class="row">
            <div class="col-lg-3">
                <select class="form-control" ng-model="rentalSearchCriteria.type">
                    <option value="id">id</option>
                    <option value="mobile">mobile</option>
                    <option value="email">email</option>
                </select>
            </div>
            <div class="col-lg-3">
                <div ng-if="rentalSearchCriteria.type == 'id'">
                    <input type="text" class="form-control" ng-model="rentalSearchCriteria.id" placeholder="Id">
                </div>
                <div ng-if="rentalSearchCriteria.type == 'mobile'">
                    <input type="text" class="form-control" ng-model="rentalSearchCriteria.mobile" placeholder="Mobile">
                </div>
                <div ng-if="rentalSearchCriteria.type == 'email'">
                    <input type="email" class="form-control" ng-model="rentalSearchCriteria.email" placeholder="Email">
                </div>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-primary" ng-click="searchRentals()">Search</button>
            </div>
        </div>
        </div>

<span ng-if="isExistingRental && existingRental">
    <span ng-init="selectRental(existingRental)"></span>
</span>

    <div class="row" ng-if="existingRentals.length>1">
        <table class="table table-bordered">
            <tr>
                <th>Select One</th>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
            <tr ng-repeat="existingRental in existingRentals">
                <td>
                    <input type="radio" name="rental" ng-model="$parent.selectedRental"
                           ng-value="existingRental.id"
                           ng-change="selectRental(existingRental)">
                </td>
                <td>{{existingRental.id}}</td>
                <td>{{existingRental.customer1.firstName}}</td>
                <td>{{existingRental.customer1.lastName}}</td>
                <td>{{existingRental.customer1.email}}</td>
                <td>{{existingRental.customer1.address1}}</td>
            </tr>
        </table>
    </div>

    <uib-accordion close-others="false">
        <div uib-accordion-group is-open="accordion.selectCarPanelOpen" class="panel-primary" heading="Choose Your Car">
            <div class="form-group">
                <label>Select table or add:</label>
                <ui-select ng-model="fleetMagic.selectedCar" on-select="showCarDetails($item)">
                    <ui-select-match placeholder="Select A Car">
                        <span>{{fleetMagic.selectedCar.carDetails}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="car in (carList | filter:  $select.search) track by car.id">
                        <span>{{car.carDetails}}</span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div ng-show="accordion.showDetails" class="row" style="margin-top: 5px;">
                <span class="col-lg-3">
                    <img src="css/images/sedan.jpg" alt="car image">
                </span>
                <span class="col-lg-9">
                    <div>Brand : {{accordion.selectedCarFullDetails.make}}</div>
                    <div>Type : {{accordion.selectedCarFullDetails.model}}</div>
                    <div>Color : {{accordion.selectedCarFullDetails.color}}</div>
                    <div>WIN/Serial No : {{accordion.selectedCarFullDetails.vin}}</div>
                </span>
            </div>
            <button class="btn-success btn-xs" ng-click="getPersonalDetails()">Next</button>
            <div ng-show="accordion.selectCarPanelError">Please select car</div>
        </div>

        <div uib-accordion-group is-open="accordion.selectInsurancePanelOpen" class="panel-primary"
             heading="Insurance Details">
            <div>Insurance Policy Number : <input type="text" class="form-control"
                                                  ng-model="insuranceDetails.policyNumber"></div>
            <div>Insurance Company Name : <input type="text" class="form-control"
                                                 ng-model="insuranceDetails.companyName"></div>
            <div>Insurance Expiration Date : <input type="text" class="form-control"
                                                    ng-model="insuranceDetails.experiyDate"></div>
            <div>Insurance Company Contact Number : <input type="text" class="form-control"
                                                           ng-model="insuranceDetails.contactNumber"></div>
        </div>

        <div uib-accordion-group is-open="accordion.selectPricePanelOpen" class="panel-primary"
             heading="Price Details">
            <div class="row customer">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="input-group">
                        <input type="text" ng-blur="checkPrice()" class="form-control" uib-datepicker-popup="{{format}}"
                               is-open="dateOut.opened" datepicker-options="dateOut.dateOptions"
                               ng-model="rental.startDate"
                               placeholder="Date Out (MM/dd/yyyy)">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="dateOut.open()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="input-group">
                        <input type="text" ng-blur="checkPrice()" class="form-control" uib-datepicker-popup="{{format}}"
                               is-open="dateIn.opened" datepicker-options="dateIn.dateOptions"
                               ng-model="rental.endDate"
                               placeholder="Date In (MM/dd/yyyy)">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="dateIn.open()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            Price Per day : <input type="text" class="form-control" ng-blur="checkPrice()" ng-model="accordion.selectedCarFullDetails.perDayRent">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            Price Per Month : <input type="text" class="form-control" ng-model="rental.price">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div uib-accordion-group class="panel-primary" heading="Personal Details"
             is-open="accordion.personalDetailsPanelOpen">
            <div ng-init="isExistingcustomer=false">
                <label>
                    <input type="radio" ng-model="isExistingcustomer" ng-value="true">
                    Existing Customer
                </label>
                <label>
                    <input type="radio" ng-model="isExistingcustomer" ng-value="false">
                    New Customer
                </label>
                <div ng-if="isExistingcustomer" class="row">
                    <div class="col-lg-3">
                        <select class="form-control" ng-model="searchCriteria.type">
                            <option value="mobile">mobile</option>
                            <option value="email">email</option>
                            <option value="fnln">FirstName&LastName</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <div ng-if="searchCriteria.type == 'mobile'">
                            <input type="text" class="form-control" ng-model="searchCriteria.mobile" placeholder="Mobile">
                        </div>
                        <div ng-if="searchCriteria.type == 'email'">
                            <input type="email" class="form-control" ng-model="searchCriteria.email" placeholder="email">
                        </div>
                        <div ng-if="searchCriteria.type == 'fnln'">
                            <input type="text" class="form-control" ng-model="searchCriteria.firstName" placeholder="FirstName">
                        </div>
                    </div>
                    <div class="col-lg-3" ng-if="searchCriteria.type == 'fnln'">
                        <div>
                            <input type="text" class="form-control" ng-model="searchCriteria.lastName" placeholder="LastName">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-primary" ng-click="search()">Search</button>
                    </div>
                </div>

                <div class="row" ng-if="customers.length >1">
                    <table class="table table-bordered">
                        <tr>
                            <th>Select One</th>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Address</th>
                        </tr>
                        <tr ng-repeat="cust in customers">
                            <td>
                                <input type="radio" name="customer" ng-model="$parent.selectedCustomer"
                                       ng-value="cust.id"
                                       ng-change="selectCustomer(cust)">
                            </td>
                            <td>{{cust.id}}</td>
                            <td>{{cust.firstName}}</td>
                            <td>{{cust.lastName}}</td>
                            <td>{{cust.email}}</td>
                            <td>{{cust.address1}}</td>
                        </tr>
                    </table>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-1g-12 panel-heading" style="font-weight: bold">
                                Driver Details
                            </div>
                            <div class="col-lg-6" ng-show="customer.id || customer.firstName || customer.email">
                                <input type="text" class="form-control"
                                       ng-model="customer.id" placeholder="Customer Id">
                            </div>
                            <div class="col-lg-12" ng-class="{'col-lg-6':customer.id || customer.firstName || customer.email}">
                                <input type="text" class="form-control"
                                       ng-model="customer.firstName" placeholder="First Name">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer.lastName" placeholder="Last Name">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer.middleName" placeholder="Middle Name">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control" ng-model="customer.ssn"
                                       placeholder="SSN">
                            </div>
                            <div class="col-lg-12">
                            <span class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                       is-open="dob.opened" datepicker-options="dob.dateOptions"
                                       ng-model="customer.dob"
                                       placeholder="Date Of birth(MM/dd/yyyy)">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="dob.open()"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-1g-12 panel-heading" style="font-weight: bold">
                                Address Details
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer.address1" placeholder="Address1">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer.address2" placeholder="Address">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control" ng-model="customer.city"
                                       placeholder="City">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer.state" placeholder="State">
                            </div>

                            <div class="col-lg-12">
                                <input type="text" class="form-control" style="width: 52%" ng-model="customer.zip"
                                       placeholder="Zip">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-1g-12 panel-heading" style="font-weight: bold">
                                Contact Details
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer.homePhone" placeholder="Home Phone">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer.mobile" placeholder="Mobile">
                            </div>
                            <div class="col-lg-12">
                                <input type="email" class="form-control"
                                       ng-model="customer.email" placeholder="email">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-1g-12 panel-heading" style="font-weight: bold">
                                <label>Employer Details</label>
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer.employer" placeholder="Employer">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer.employerCity" placeholder="Employer City">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer.employerState" placeholder="Employer State">
                            </div>
                        </div>
                    </div>
                    <div class="col-1g-12 panel-heading" style="font-weight: bold">
                        Licence Details
                    </div>
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer.driversLicence" placeholder="Licence Number">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer.dlState" placeholder="Licence Issuing State">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer.dlCountry"
                                       placeholder="Licence Issuing Country">
                            </div>
                            <div class="col-lg-12">
                                    <span class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                           is-open="licenseExpiryDate.opened"
                                           datepicker-options="licenseExpiryDate.dateOptions"
                                           ng-model="customer.dlExperiryDate"
                                           placeholder="Licence Expire Date (mm/yyyy)">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-click="licenseExpiryDate.open()"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-xs btn-success"
                        ng-click="accordion.personalDetailsPanelOpen = ! accordion.personalDetailsPanelOpen;accordion.selectCarPanelOpen = !accordion.selectCarPanelOpen">
                    Previous
                </button>
                <button class="btn btn-xs btn-success"
                        ng-click="accordion.personalDetailsPanelOpen = ! accordion.personalDetailsPanelOpen;accordion.paymentDetailsPanelOpen = !accordion.paymentDetailsPanelOpen">
                    Next
                </button>
                <a ng-click="additionalDriver=true">Add Driver</a>
            </div>


            <div ng-init="isExistingcustomer1=false" ng-show="additionalDriver">
                <label>
                    <input type="radio" ng-model="isExistingcustomer1" ng-value="true">
                    Existing Customer
                </label>
                <label>
                    <input type="radio" ng-model="isExistingcustomer1" ng-value="false">
                    New Customer
                </label>
                <div ng-if="isExistingcustomer1" class="row">
                    <div class="col-lg-3">
                        <select class="form-control" ng-model="searchCriteria1.type">
                            <option value="mobile">mobile</option>
                            <option value="email">email</option>
                            <option value="fnln">FirstName&LastName</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <div ng-if="searchCriteria1.type == 'mobile'">
                            <input type="text" class="form-control" ng-model="searchCriteria1.mobile" placeholder="Mobile">
                        </div>
                        <div ng-if="searchCriteria1.type == 'email'">
                            <input type="email" class="form-control" ng-model="searchCriteria1.email" placeholder="email">
                        </div>
                        <div ng-if="searchCriteria1.type == 'fnln'">
                            <input type="text" class="form-control" ng-model="searchCriteria1.firstName" placeholder="FirstName">
                        </div>
                    </div>
                    <div class="col-lg-3" ng-if="searchCriteria1.type == 'fnln'">
                        <div>
                            <input type="text" class="form-control" ng-model="searchCriteria1.lastName" placeholder="LastName">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-primary" ng-click="searchAdditionalExistingDriver()">Search</button>
                    </div>
                </div>

                <div class="row" ng-if="customers1.length >1">
                    <table class="table table-bordered">
                        <tr>
                            <th>Select One</th>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Address</th>
                        </tr>
                        <tr ng-repeat="cust in customers1">
                            <td>
                                <input type="radio" name="customer1" ng-model="$parent.selectedCustomer"
                                       ng-value="cust.id"
                                       ng-change="selectCustomer1(cust)">
                            </td>
                            <td>{{cust.id}}</td>
                            <td>{{cust.firstName}}</td>
                            <td>{{cust.lastName}}</td>
                            <td>{{cust.email}}</td>
                            <td>{{cust.address1}}</td>
                        </tr>
                    </table>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-1g-12 panel-heading" style="font-weight: bold">
                                Driver Details
                            </div>
                            <div class="col-lg-6" ng-show="customer1.id || customer1.firstName || customer1.email">
                                <input type="text" class="form-control"
                                       ng-model="customer1.id" placeholder="Customer Id">
                            </div>
                            <div class="col-lg-12" ng-class="{'col-lg-6':customer1.id || customer1.firstName || customer1.email}">
                                <input type="text" class="form-control"
                                       ng-model="customer1.firstName" placeholder="First Name">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer1.lastName" placeholder="Last Name">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer1.middleName" placeholder="Middle Name">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control" ng-model="customer1.ssn"
                                       placeholder="SSN">
                            </div>
                            <div class="col-lg-12">
                            <span class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                       is-open="dob1.opened" datepicker-options="dob1.dateOptions"
                                       ng-model="customer1.dob"
                                       placeholder="Date Of birth(MM/dd/yyyy)">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="dob1.open()"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-1g-12 panel-heading" style="font-weight: bold">
                                Address Details
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer1.address1" placeholder="Address1">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer1.address2" placeholder="Address">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control" ng-model="customer1.city"
                                       placeholder="City">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer1.state" placeholder="State">
                            </div>

                            <div class="col-lg-12">
                                <input type="text" class="form-control" style="width: 52%" ng-model="customer1.zip"
                                       placeholder="Zip">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-1g-12 panel-heading" style="font-weight: bold">
                                Contact Details
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer1.homePhone" placeholder="Home Phone">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer1.mobile" placeholder="Mobile">
                            </div>
                            <div class="col-lg-12">
                                <input type="email" class="form-control"
                                       ng-model="customer1.email" placeholder="email">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-1g-12 panel-heading" style="font-weight: bold">
                                <label>Employer Details</label>
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer1.employer" placeholder="Employer">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer1.employerCity" placeholder="Employer City">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer1.employerState" placeholder="Employer State">
                            </div>
                        </div>
                    </div>
                    <div class="col-1g-12 panel-heading" style="font-weight: bold">
                        Licence Details
                    </div>
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer1.driversLicence" placeholder="Licence Number">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer1.dlState" placeholder="Licence Issuing State">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="customer1.dlCountry"
                                       placeholder="Licence Issuing Country">
                            </div>
                            <div class="col-lg-12">
                                    <span class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                           is-open="licenseExpiryDate1.opened"
                                           datepicker-options="licenseExpiryDate1.dateOptions"
                                           ng-model="customer1.dlExperiryDate"
                                           placeholder="Licence Expire Date (mm/yyyy)">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-click="licenseExpiryDate1.open()"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div uib-accordion-group class="panel-primary" heading="Payment Information"
             is-open="accordion.paymentDetailsPanelOpen">

            <div class="row">
                <div class="col-lg-6">
                    <div class="row customer">
                        <div class="col-1g-12 panel-heading" style="font-weight: bold">
                            Card Details
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="form-control"
                                   ng-model="payment.cardInfo.number" placeholder="Card Number">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="form-control"
                                   ng-model="payment.cardInfo.cvv" placeholder="CVV">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="form-control"
                                   ng-model="payment.cardInfo.name" placeholder="Name On Card">
                        </div>
                        <div class="col-lg-12">
                            <!--<input type="text" class="form-control"  ng-model="payment.cardInfo.zip"
                                   placeholder="ZIP">-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row customer">
                        <div class="col-1g-12 panel-heading" style="font-weight: bold">
                            Billing Address
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="form-control"
                                   ng-model="billing.address1" placeholder="Address1">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="form-control"
                                   ng-model="billing.address2" placeholder="Address2">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="form-control" ng-model="billing.city"
                                   placeholder="City">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="form-control"
                                   ng-model="billing.state" placeholder="State">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="form-control" style="width: 52%" ng-model="billing.zip"
                                   placeholder="Zip">
                        </div>
                    </div>
                </div>
            </div>
            <button ng-click="submitPaymentDetails()">Submit</button>
        </div>
    </uib-accordion>
</div>