<div class="container" ng-init="getBusinessUnits();">
    <div class="row">
        <div class="col-lg-4">Select Business Unit :</div>
        <div class="col-lg-4">
            <select class="form-control" ng-change="initRentalController()"
                    ng-options="businessUnit as businessUnit.name for businessUnit in businessUnits track by businessUnit.id"
                    ng-model="selectedBusinessUnit">
                <option value="">Business Unit</option>
            </select>
        </div>
    </div>
    <div ng-init="isExistingRental=false">
        <label>
            <input type="radio" ng-model="isExistingRental" ng-value="true" ng-change="destroyDetails()">
            Existing Rental
        </label>
        <label>
            <input type="radio" ng-model="isExistingRental" ng-value="false" ng-change="destroyDetails()">
            New Rental
        </label>
        <div ng-if="isExistingRental" class="row">
            <div class="col-lg-3">
                <select class="form-control" ng-model="rentalSearchCriteria.type">
                    <option value="id">id</option>
                    <option value="mobile">mobile</option>
                    <option value="email">email</option>
                </select>
            </div>
            <div class="col-lg-3">
                <div ng-if="rentalSearchCriteria.type == 'id'">
                    <input type="text" class="form-control" ng-model="rentalSearchCriteria.id" placeholder="Id">
                </div>
                <div ng-if="rentalSearchCriteria.type == 'mobile'">
                    <input type="text" class="form-control" ng-model="rentalSearchCriteria.mobile" placeholder="Mobile">
                </div>
                <div ng-if="rentalSearchCriteria.type == 'email'">
                    <input type="email" class="form-control" ng-model="rentalSearchCriteria.email" placeholder="Email">
                </div>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-primary" ng-click="searchRentals()">Search</button>
            </div>
        </div>
    </div>

    <div ng-if="existingRental != null || existingRentals.length>1 && isExistingRental">
        <table class="table table-bordered">
            <tr>
                <th>Select One</th>
                <th>Gen Id</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
            <tr ng-repeat="existingRental in existingRentals">
                <td>
                    <input type="radio" name="rental" ng-model="$parent.selectedRental"
                           ng-value="existingRental.id"
                           ng-change="selectRental(existingRental)">
                </td>
                <td>{{existingRental.number}}</td>
                <td>{{existingRental.startDate | date : 'MM/dd/yyyy'}}</td>
                <td>{{existingRental.endDate | date : 'MM/dd/yyyy'}}</td>
                <td>{{existingRental.customer1.firstName}}</td>
                <td>{{existingRental.customer1.lastName}}</td>
                <td>{{existingRental.customer1.email}}</td>
                <td>{{existingRental.customer1.address1}}</td>
            </tr>
            <tr ng-hide="existingRentals.length > 1">
                <td>
                    <input type="radio" name="rental" ng-model="$parent.selectedRental"
                           ng-value="existingRental.id"
                           ng-change="selectRental(existingRental)">
                </td>
                <td>{{existingRental.number}}</td>
                <td>{{existingRental.startDate | date : 'MM/dd/yyyy'}}</td>
                <td>{{existingRental.endDate | date : 'MM/dd/yyyy'}}</td>
                <td>{{existingRental.customer1.firstName}}</td>
                <td>{{existingRental.customer1.lastName}}</td>
                <td>{{existingRental.customer1.email}}</td>
                <td>{{existingRental.customer1.address1}}</td>
            </tr>
        </table>
    </div>
    <div ng-if="existingRental != null || existingRentals.length>1 && isExistingRental">
        <label>
            <input type="radio" ng-model="fleetMagic.rentalType" value="edit" ng-change="selectRentalType()">
            Edit
        </label>
        <label>
            <input type="radio" ng-model="fleetMagic.rentalType" value="extend" ng-change="selectRentalType()">
            Extend
        </label>
        <label>
            <input type="radio" ng-model="fleetMagic.rentalType" value="close" ng-change="selectRentalType()">
            Close
        </label>
        <label>
            <input type="radio" ng-model="fleetMagic.rentalType" value="replace" ng-change="selectRentalType()">
            Replace
        </label>
    </div>

    <uib-accordion close-others="false">
        <div uib-accordion-group is-open="accordion.selectCarPanelOpen" ng-show="isEditRental" class="panel-primary"
             heading="Choose Your Car">
            <div class="form-group">
                <label>Select table or add:</label>
                <ui-select ng-model="fleetMagic.selectedCar" on-select="showCarDetails($item)">
                    <ui-select-match placeholder="Select A Car">
                        <span>{{fleetMagic.selectedCar.carDetails}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="car in (carList | filter:  $select.search) track by car.id">
                        <span>{{car.carDetails}}</span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div ng-show="accordion.showDetails" class="row" style="margin-top: 5px;">
                <span class="col-lg-3">
                    <img src="css/images/sedan.jpg" alt="car image">
                </span>
                <span class="col-lg-9">
                    <div>Brand : {{rental.vehicle.make}}</div>
                    <div>Type : {{rental.vehicle.model}}</div>
                    <div>Color : {{rental.vehicle.color}}</div>
                    <div>WIN/Serial No : {{rental.vehicle.vin}}</div>
                </span>
            </div>
            <button class="btn-success btn-xs" ng-click="getPersonalDetails()">Next</button>
            <div ng-show="accordion.selectCarPanelError">Please select car</div>
        </div>

        <div uib-accordion-group is-open="accordion.selectInsurancePanelOpen" ng-show="isEditRental"
             class="panel-primary"
             heading="Insurance Details">
            <div class="row customer">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6">Insurance Policy Number :</div>
                        <div class="col-lg-6"><input type="text" class="form-control"
                                                     ng-model="rental.insurancePolicyNumber"></div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6">Insurance Company Name :</div>
                        <div class="col-lg-6"><input type="text" class="form-control"
                                                     ng-model="rental.insuranceCompanyName"></div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6">Insurance Expiration Date :</div>
                        <div class="col-lg-6">
                        <span class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                   is-open="insuranceExpirationDate.opened"
                                   ng-model="rental.insuranceExpirationDate">
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="insuranceExpirationDate.open()"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6">Insurance Company Contact Number :</div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control"
                                   ng-model="rental.insuranceCompanyContactNumber">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div uib-accordion-group is-open="accordion.selectPricePanelOpen" class="panel-primary"
             heading="Extend" ng-show="isExtendRental">
            <div class="row customer">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Select Extend 1 Date:</label>
                                <span class="input-group">
                                    <input type="text" ng-blur="checkExtendedPrice(1)" class="form-control" uib-datepicker-popup="{{format}}"
                                           is-open="dateOut.opened" ng-model="rental.extenstion1"
                                           placeholder="Extend 1 Date">
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="dateOut.open()"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Extended 1 Amount :</label>
                                <input type="number" class="form-control"
                                       ng-model="rental.extenstion1Amount">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" ng-if="rental.extenstion1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Select Extend 2 Date:</label>
                                <span class="input-group">
                                    <input type="text" ng-blur="checkExtendedPrice(2)" class="form-control" uib-datepicker-popup="{{format}}"
                                           is-open="dateIn.opened" ng-model="rental.extenstion2"
                                           placeholder="Extend 2 Date">
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="dateIn.open()"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Extended 2 Amount :</label>
                                <input type="number" class="form-control"
                                       ng-model="rental.extenstion2Amount">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div uib-accordion-group is-open="accordion.selectPricePanelOpen" class="panel-primary"
             heading="Price Details" ng-show="isEditRental">
            <div class="row customer">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="input-group">
                        <input type="text" ng-blur="checkPrice()" class="form-control" uib-datepicker-popup="{{format}}"
                               is-open="dateOut.opened" ng-model="rental.startDate"
                               placeholder="Date Out (MM/dd/yyyy)">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="dateOut.open()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="input-group">
                        <input type="text" ng-blur="checkPrice()" class="form-control" uib-datepicker-popup="{{format}}"
                               is-open="dateIn.opened" ng-model="rental.endDate"
                               placeholder="Date In (MM/dd/yyyy)">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="dateIn.open()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            Price Per day :
                        </div>
                        <div class="col-lg-8">
                            <input type="number" class="form-control" ng-blur="checkPrice()"
                                   ng-model="rental.vehicle.perDayRent">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            Price Per Month :
                        </div>
                        <div class="col-lg-8">
                            <input type="number" class="form-control" ng-model="fleetMagic.pricePerMonth">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6">
                            Additional Driver Charge :
                        </div>
                        <div class="col-lg-6">
                            <input type="number" class="form-control" ng-blur="checkPrice()"
                                   ng-model="rental.additionalDriverCharge">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            Tax :
                        </div>
                        <div class="col-lg-6">
                            <input type="number" class="form-control" ng-model="fleetMagic.tax">
                        </div>
                    </div>
                    <div class="row" ng-show="rental.extenstion1Amount">
                        <div class="col-lg-6">
                            Extension 1 Amount :
                        </div>
                        <div class="col-lg-6">
                            <input type="number" class="form-control" ng-model="rental.extenstion1Amount">
                        </div>
                    </div>
                    <div class="row" ng-show="rental.extenstion2Amount">
                        <div class="col-lg-6">
                            Extension 2 Amount :
                        </div>
                        <div class="col-lg-6">
                            <input type="number" class="form-control" ng-model="rental.extenstion2Amount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            Total :
                        </div>
                        <div class="col-lg-6">
                            <input type="number" class="form-control" ng-model="rental.price">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div uib-accordion-group class="panel-primary" heading="Personal Details"
             is-open="accordion.personalDetailsPanelOpen" ng-show="isEditRental">
            <div ng-init="isExistingcustomer=false">
                <label>
                    <input type="radio" ng-model="isExistingcustomer" ng-value="true" ng-change="destroyCustomer(1)">
                    Existing Customer
                </label>
                <label>
                    <input type="radio" ng-model="isExistingcustomer" ng-value="false" ng-change="destroyCustomer(1)">
                    New Customer
                </label>
                <div ng-if="isExistingcustomer" class="row">
                    <div class="col-lg-3">
                        <select class="form-control" ng-model="searchCriteria.type">
                            <option value="mobile">mobile</option>
                            <option value="email">email</option>
                            <option value="fnln">FirstName&LastName</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <div ng-if="searchCriteria.type == 'mobile'">
                            <input type="text" class="form-control" ng-model="searchCriteria.mobile"
                                   placeholder="Mobile">
                        </div>
                        <div ng-if="searchCriteria.type == 'email'">
                            <input type="email" class="form-control" ng-model="searchCriteria.email"
                                   placeholder="email">
                        </div>
                        <div ng-if="searchCriteria.type == 'fnln'">
                            <input type="text" class="form-control" ng-model="searchCriteria.firstName"
                                   placeholder="FirstName">
                        </div>
                    </div>
                    <div class="col-lg-3" ng-if="searchCriteria.type == 'fnln'">
                        <div>
                            <input type="text" class="form-control" ng-model="searchCriteria.lastName"
                                   placeholder="LastName">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-primary" ng-click="search()">Search</button>
                    </div>
                </div>

                <div class="row" ng-show="customers.length>1">
                    <table class="table table-bordered">
                        <tr>
                            <th>Select One</th>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Address</th>
                        </tr>
                        <tr ng-repeat="cust in customers">
                            <td>
                                <input type="radio" name="customer" ng-model="$parent.selectedCustomer"
                                       ng-value="cust.id"
                                       ng-change="rental.customer1=cust">
                            </td>
                            <td>{{cust.id}}</td>
                            <td>{{cust.firstName}}</td>
                            <td>{{cust.lastName}}</td>
                            <td>{{cust.email}}</td>
                            <td>{{cust.address1}}</td>
                        </tr>
                    </table>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-1g-12 panel-heading" style="font-weight: bold">
                                Driver Details
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer1.firstName" placeholder="First Name">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer1.lastName" placeholder="Last Name">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer1.middleName" placeholder="Middle Name">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control" ng-model="rental.customer1.ssn"
                                       placeholder="SSN">
                            </div>
                            <div class="col-lg-12">
                            <span class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                       is-open="dob.opened" ng-model="rental.customer1.dob"
                                       placeholder="Date Of birth(MM/dd/yyyy)">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="dob.open()"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-1g-12 panel-heading" style="font-weight: bold">
                                Address Details
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer1.address1" placeholder="Address1">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer1.address2" placeholder="Address">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control" ng-model="rental.customer1.city"
                                       placeholder="City">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer1.state" placeholder="State">
                            </div>

                            <div class="col-lg-12">
                                <input type="text" class="form-control" style="width: 52%"
                                       ng-model="rental.customer1.zip"
                                       placeholder="Zip">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-1g-12 panel-heading" style="font-weight: bold">
                                Contact Details
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer1.homePhone" placeholder="Home Phone">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer1.mobile" placeholder="Mobile">
                            </div>
                            <div class="col-lg-12">
                                <input type="email" class="form-control"
                                       ng-model="rental.customer1.email" placeholder="email">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-1g-12 panel-heading" style="font-weight: bold">
                                <label>Employer Details</label>
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer1.employer" placeholder="Employer">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer1.employerCity" placeholder="Employer City">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer1.employerState" placeholder="Employer State">
                            </div>
                        </div>
                    </div>
                    <div class="col-1g-12 panel-heading" style="font-weight: bold">
                        Licence Details
                    </div>
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer1.driversLicence" placeholder="Licence Number">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer1.dlState" placeholder="Licence Issuing State">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer1.dlCountry"
                                       placeholder="Licence Issuing Country">
                            </div>
                            <div class="col-lg-12">
                                    <span class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                           is-open="licenseExpiryDate.opened"
                                           ng-model="rental.customer1.dlExperiryDate"
                                           placeholder="Licence Expire Date (mm/yyyy)">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-click="licenseExpiryDate.open()"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-init="fleetMagic.additionalDriver=false">
                <button class="btn btn-xs btn-success"
                        ng-click="accordion.paymentDetailsPanelOpen = !accordion.paymentDetailsPanelOpen">
                    Next
                </button>
                <a ng-click="destroyCustomer(3)">Add Driver</a>
            </div>


            <div ng-init="isExistingcustomer1=false" ng-if="fleetMagic.additionalDriver">
                <label>
                    <input type="radio" ng-model="isExistingcustomer1" ng-value="true" ng-change="destroyCustomer(2)">
                    Existing Customer
                </label>
                <label>
                    <input type="radio" ng-model="isExistingcustomer1" ng-value="false" ng-change="destroyCustomer(2)">
                    New Customer
                </label>
                <div ng-if="isExistingcustomer1" class="row">
                    <div class="col-lg-3">
                        <select class="form-control" ng-model="searchCriteria1.type">
                            <option value="mobile">mobile</option>
                            <option value="email">email</option>
                            <option value="fnln">FirstName&LastName</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <div ng-if="searchCriteria1.type == 'mobile'">
                            <input type="text" class="form-control" ng-model="searchCriteria1.mobile"
                                   placeholder="Mobile">
                        </div>
                        <div ng-if="searchCriteria1.type == 'email'">
                            <input type="email" class="form-control" ng-model="searchCriteria1.email"
                                   placeholder="email">
                        </div>
                        <div ng-if="searchCriteria1.type == 'fnln'">
                            <input type="text" class="form-control" ng-model="searchCriteria1.firstName"
                                   placeholder="FirstName">
                        </div>
                    </div>
                    <div class="col-lg-3" ng-if="searchCriteria1.type == 'fnln'">
                        <div>
                            <input type="text" class="form-control" ng-model="searchCriteria1.lastName"
                                   placeholder="LastName">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-primary" ng-click="searchAdditionalExistingDriver()">Search</button>
                    </div>
                </div>

                <div class="row" ng-if="customers1.length > 1">
                    <table class="table table-bordered">
                        <tr>
                            <th>Select One</th>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Address</th>
                        </tr>
                        <tr ng-repeat="cust in customers1">
                            <td>
                                <input type="radio" name="customer1" ng-model="$parent.selectedCustomer"
                                       ng-value="cust.id"
                                       ng-change="rental.customer2=cust">
                            </td>
                            <td>{{cust.id}}</td>
                            <td>{{cust.firstName}}</td>
                            <td>{{cust.lastName}}</td>
                            <td>{{cust.email}}</td>
                            <td>{{cust.address1}}</td>
                        </tr>
                    </table>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-1g-12 panel-heading" style="font-weight: bold">
                                Driver Details
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer2.firstName" placeholder="First Name">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer2.lastName" placeholder="Last Name">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer2.middleName" placeholder="Middle Name">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control" ng-model="rental.customer2.ssn"
                                       placeholder="SSN">
                            </div>
                            <div class="col-lg-12">
                            <span class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                       is-open="dob1.opened" ng-model="rental.customer2.dob"
                                       placeholder="Date Of birth(MM/dd/yyyy)">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="dob1.open()"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-1g-12 panel-heading" style="font-weight: bold">
                                Address Details
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer2.address1" placeholder="Address1">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer2.address2" placeholder="Address">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control" ng-model="rental.customer2.city"
                                       placeholder="City">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer2.state" placeholder="State">
                            </div>

                            <div class="col-lg-12">
                                <input type="text" class="form-control" style="width: 52%"
                                       ng-model="rental.customer2.zip"
                                       placeholder="Zip">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-1g-12 panel-heading" style="font-weight: bold">
                                Contact Details
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer2.homePhone" placeholder="Home Phone">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer2.mobile" placeholder="Mobile">
                            </div>
                            <div class="col-lg-12">
                                <input type="email" class="form-control"
                                       ng-model="rental.customer2.email" placeholder="email">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-1g-12 panel-heading" style="font-weight: bold">
                                <label>Employer Details</label>
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer2.employer" placeholder="Employer">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer2.employerCity" placeholder="Employer City">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer2.employerState" placeholder="Employer State">
                            </div>
                        </div>
                    </div>
                    <div class="col-1g-12 panel-heading" style="font-weight: bold">
                        Licence Details
                    </div>
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer2.driversLicence" placeholder="Licence Number">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer2.dlState" placeholder="Licence Issuing State">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row customer">
                            <div class="col-lg-12">
                                <input type="text" class="form-control"
                                       ng-model="rental.customer2.dlCountry"
                                       placeholder="Licence Issuing Country">
                            </div>
                            <div class="col-lg-12">
                                    <span class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                           is-open="licenseExpiryDate1.opened"
                                           ng-model="rental.customer2.dlExperiryDate"
                                           placeholder="Licence Expire Date (mm/yyyy)">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-click="licenseExpiryDate1.open()"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div uib-accordion-group class="panel-primary" heading="Payment Information"
             is-open="accordion.paymentDetailsPanelOpen" ng-show="isExtendRental || isEditRental">
            <div class="row">
                <div class="col-lg-3">
                    Payment Method :
                </div>
                <div class="col-lg-6">
                    <select class="form-control" ng-options="paymentMethod for paymentMethod in paymentMethods"
                            ng-model="rental.payment.paymentMethod">
                        <option value="">Payment Method</option>
                    </select>
                </div>
            </div>

            <div class="row" ng-show="rental.payment.paymentMethod == 'CASH'">
                <div class="col-lg-12 panel-heading" style="font-weight: bold">
                    Cash Details
                </div>
            </div>
            <div class="row" ng-show="rental.payment.paymentMethod == 'CASH'">
                <div class="col-lg-6">
                    <input type="text" class="form-control" ng-model="rental.payment.amount"
                           placeholder="Amount">
                </div>
            </div>
            <div class="row" ng-show="rental.payment.paymentMethod == 'CHEQUE'">
                <div class="col-lg-12 panel-heading" style="font-weight: bold">
                    Cheque Details
                </div>
            </div>
            <div class="row" ng-show="rental.payment.paymentMethod == 'CHEQUE'">
                <div class="col-lg-6">
                    <div class="row customer">
                        <div class="col-lg-12">
                            <input type="text" class="form-control" ng-model="rental.payment.paidFor"
                                   placeholder="Paid For">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="form-control" ng-model="rental.payment.chequeNumber"
                                   placeholder="chequeNumber">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row customer">
                        <div class="col-lg-12">
                            <input type="text" class="form-control" ng-model="rental.payment.chequeIssuedBy"
                                   placeholder="chequeIssuedBy">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"
                 ng-hide="rental.payment.paymentMethod == 'CHEQUE' || rental.payment.paymentMethod == 'CASH'">
                <div class="col-lg-6">
                    <div class="row customer">
                        <div class="col-1g-12 panel-heading" style="font-weight: bold">
                            Card Details
                        </div>
                        <div class="col-lg-12">
                            <select class="form-control" ng-options="cardType for cardType in cardTypes"
                                ng-model="rental.payment.cardInfo.type">
                                <option value="">Card Type</option>
                            </select>
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="form-control"
                                   ng-model="rental.payment.cardInfo.number" placeholder="Card Number">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="form-control"
                                   ng-model="rental.payment.cardInfo.cvv" placeholder="CVV">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="form-control"
                                   ng-model="rental.payment.cardInfo.name" placeholder="Name On Card">
                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <select class="form-control"
                                            ng-options="expiryMonth for expiryMonth in expiryMonths"
                                            ng-model="rental.payment.cardInfo.expMonth">
                                        <option value="">Expiry Month</option>
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <select class="form-control" ng-options="expiryYear for expiryYear in expiryYears"
                                            ng-model="rental.payment.cardInfo.expYear">
                                        <option value="">Expiry Year</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row customer">
                        <div class="col-1g-12 panel-heading" style="font-weight: bold">
                            Billing Address
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="form-control"
                                   ng-model="rental.payment.cardInfo.address1" placeholder="Address1">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="form-control"
                                   ng-model="rental.payment.cardInfo.address2" placeholder="Address2">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="form-control" ng-model="rental.payment.cardInfo.city"
                                   placeholder="City">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="form-control"
                                   ng-model="rental.payment.cardInfo.state" placeholder="State">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="form-control" style="width: 52%"
                                   ng-model="rental.payment.cardInfo.zip"
                                   placeholder="Zip">
                        </div>
                    </div>
                </div>
            </div>
            <button ng-click="submitPaymentDetails()">Submit</button>
        </div>
    </uib-accordion>
    <div ng-show="isCloseRental">
        <button class="btn btn-danger" ng-click="closeRental()">Close</button>
    </div>
    <div ng-show="isReplaceVehicleRental">
        <b>Current Vehicle Details :</b>
        <div>Brand : {{rental.vehicle.make}}</div>
        <div>Type : {{rental.vehicle.model}}</div>
        <div>Color : {{rental.vehicle.color}}</div>
        <div>WIN/Serial No : {{rental.vehicle.vin}}</div>
        <div>Registration : {{rental.vehicle.registration}}</div>
        <br/>
        <br/>
        <b>Select New Vehicle :</b>
        <div class="form-group" ng-init="initRentalController()">
            <ui-select ng-model="fleetMagic.replacementCar" on-select="showReplaceCarDetails($item)">
                <ui-select-match placeholder="Select A Car">
                    <span>{{fleetMagic.replacementCar.carDetails}}</span>
                </ui-select-match>
                <ui-select-choices repeat="car in (carList | filter:  $select.search) track by car.id">
                    <span>{{car.carDetails}}</span>
                </ui-select-choices>
            </ui-select>
        </div>
        <span ng-show="fleetMagic.showReplaceCarDetails">
            <div>Brand : {{rental.replacementVehicle.make}}</div>
            <div>Type : {{rental.replacementVehicle.model}}</div>
            <div>Color : {{rental.replacementVehicle.color}}</div>
            <div>WIN/Serial No : {{rental.replacementVehicle.vin}}</div>
            <div>Registration : {{rental.replacementVehicle.registration}}</div>
        </span>
        <button class="btn btn-primary" ng-click="replaceVehicle()">Replace</button>
    </div>
</div>